.container{
    background-color: rgb(210, 199, 199);
    padding: 40px;
    border-radius: 10px;
}

.superContainer{
    border-color: rgb(231, 231, 231);
    background-color: bisque;
    border-style: solid;
    padding: 30px;
    border-radius: 10px;
}

input{
    width: 90%;
    height: 20px;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
}

.buttonSubmit{
    background-color: rgb(34, 148, 209);
    margin: 5px;
    width: 90%;
    color: white;
}

.error{
    color: red;
    font-size: 15px;
}

h1{
    color: rgb(3, 3, 15);
}